In [1]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

In [2]:
url =  "api.nhtsa.gov/products/vehicle/modelYears?issueType=r"
query_url = f"https://{url}"
year_response = requests.get(query_url).json()

In [4]:
#years in using NHTSTA API(Step 1: Get all Model Years)
year_response['Results'][0]['ModelYear']
year_response
#made to dataframe
Year_df = pd.DataFrame(year_response['Results'])
Year_df

   ModelYear
0       1949
1       1950
2       1951
3       1952
4       1953
..       ...
70      2019
71      2020
72      2021
73      2022
74      9999

[75 rows x 1 columns]

In [9]:
#Getting all Makes and by specific year  (Step 2: Get all Makes for the Model Year)
url = "api.nhtsa.gov/products/vehicle/makes?modelYear="
year = "2019"
query_url = f"https://{url}{year}&issueType=r"
make_model_year_response = requests.get(query_url).json()
make_model_year_response
#made to dataframe
Make_Model_Year_df = pd.DataFrame(make_model_year_response["Results"])
Make_Model_Year_df

    ModelYear           Make
0        2019         4-STAR
1        2019          ACURA
2        2019            AEV
3        2019      AIRSTREAM
4        2019     ALFA ROMEO
..        ...            ...
232      2019  WHEELED COACH
233      2019         WILSON
234      2019      WINNEBAGO
235      2019         YAMAHA
236      2019          YETTI

[237 rows x 2 columns]

In [6]:
#get all makes and models by a specific year(Step 3: Get all Model for the Make and Model Year)
url = "api.nhtsa.gov/products/vehicle/models?modelYear="
year = "2019"
make = "SUBARU"
query_url = f"https://{url}{year}&make={make}&issueType=r"
modelyear_make_model_response = requests.get(query_url).json()
modelyear_make_model_response
#made to dataframe
Modelyear_Make_Model_df = pd.DataFrame(modelyear_make_model_response['Results'])
Modelyear_Make_Model_df

  ModelYear    Make      Model
0      2019  SUBARU     ASCENT
1      2019  SUBARU  CROSSTREK
2      2019  SUBARU   FORESTER
3      2019  SUBARU    IMPREZA
4      2019  SUBARU     LEGACY
5      2019  SUBARU    OUTBACK

In [7]:
#get all recalls by a specific make, model and year (Step 4 : Get all Recalls for the selected Model Year, Make, Model)
url = "api.nhtsa.gov/recalls/recallsByVehicle?make="   
make = "SUBARU"
model = "FORESTER"
year = "2019"
query_url = f"https://{url}{make}&model={model}&modelYear={year}"
NHTSA = requests.get(query_url).json()
NHTSA_recall_by_make_model_year_response = requests.get(query_url).json()
NHTSA_recall_by_make_model_year_response

#labels for keys
#'Manufacturer', 'NHTSACampaignNumber', 'NHTSAActionNumber', 'ReportReceivedDate', 'Component'
#'Summary', 'Conequence', 'Remedy', 'Notes', 'ModelYear', 'Make', 'Model'

#made to dataframe
NHTSA_recall_by_make_model_year_response['results']
NHTSA_df = pd.DataFrame(NHTSA_recall_by_make_model_year_response['results'])
NHTSA_df

,Manufacturer,NHTSACampaignNumber,ReportReceivedDate,Component,Summary,Conequence,Remedy,Notes,ModelYear,Make,Model
0,"Subaru of America, Inc.",19V856000,02/12/2019,ENGINE AND ENGINE COOLING:EXHAUST SYSTEM:EMISS...,"Subaru of America, Inc. (Subaru) is recalling ...",An unexpected loss of power while driving can ...,"Subaru will notify owners, and dealers will in...",Owners may also contact the National Highway T...,2019,SUBARU,FORESTER
1,"Subaru of America, Inc.",19V065000,06/02/2019,STEERING:ELECTRIC POWER ASSIST SYSTEM,"Subaru of America, Inc. (Subaru) is recalling ...",Loss of power steering assist would require hi...,None of the affected vehicles have been sold y...,Owners may also contact the National Highway T...,2019,SUBARU,FORESTER
2,"Subaru of America, Inc.",21V263000,15/04/2021,SUSPENSION:REAR,"Subaru of America, Inc. (Subaru) is recalling ...",Missing bolts may allow the rear stabilizer br...,"Subaru will notify owners, and dealers will re...",Owners may also contact the National Highway T...,2019,SUBARU,FORESTER

In [20]:
#get all recalls by a specific make, model and year (Step 4 : Get all Recalls for the selected Model Year, Make, Model)
make_list = []
model_list= []
year_list = ["2019"]

#Getting all Makes and by specific year  (Step 2: Get all Makes for the Model Year)
url = "api.nhtsa.gov/products/vehicle/makes?modelYear="
year = "2019"
query_url = f"https://{url}{year}&issueType=r"
make_model_year_response = requests.get(query_url).json()
make_model_year_response
#made to dataframe
Make_Model_Year_df = pd.DataFrame(make_model_year_response["Results"])

#adding make of a year into make_list for loop
make_list = Make_Model_Year_df['Make'].to_list()
make_list

2019 4-star 123 456 786

# #get all makes and models by a specific year(Step 3: Get all Model for the Make and Model Year)
# url = "api.nhtsa.gov/products/vehicle/models?modelYear="
# year = "2019"
# make = "SUBARU"
# query_url = f"https://{url}{year}&make={make}&issueType=r"
# modelyear_make_model_response = requests.get(query_url).json()
# modelyear_make_model_response
# #made to dataframe
# Modelyear_Make_Model_df = pd.DataFrame(modelyear_make_model_response['Results'])
# Modelyear_Make_Model_df

list