In [108]:
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd

In [109]:
test = pd.read_csv("recall_dataset.csv")
test2 = test.loc[(test['Model Year'] >= 2008) & (test['Model Year'] < 9999)& (test['Recall Type'] == 'VEHICLE')  ]
test2.head()
count = test2['Vehicle Make'].value_counts()
total = count.sum()
ford_count = count[0]
peterbilt_count = count[1]
freightliner_count = count[2]
toyota_count = count[3]
chevrolet_count = count[4]

perc_ford = round((ford_count/total) * 100,2)
perc_peterbilt = round((peterbilt_count/total) * 100,2)
perc_freightliner = round((freightliner_count/total) * 100,2)
perc_toyota = round((toyota_count/total) * 100,2)
perc_chevrolet = round((chevrolet_count/total) * 100,2)

veh_make_allyear = pd.DataFrame({"Makes":["Ford","Peterbilt","Freightliner","Toyota","Chevrolet"],"Total Count":[ford_count,peterbilt_count,freightliner_count,toyota_count,chevrolet_count],"Percentage":[perc_ford,perc_peterbilt,perc_freightliner,perc_toyota,perc_chevrolet]})

veh_make_allyear["Percentage"] = veh_make_allyear["Percentage"].map("{:.2f}%".format)

veh_make_allyear

          Makes  Total Count Percentage
0          Ford         1089      3.12%
1     Peterbilt         1071      3.07%
2  Freightliner          913      2.61%
3        Toyota          817      2.34%
4     Chevrolet          723      2.07%

In [110]:
ford_make_year = test.loc[(test['Model Year'] >= 2008) & (test['Model Year'] < 9999)& (test['Recall Type'] == 'VEHICLE') ]

ford_make_year2 = ford_make_year.loc[(ford_make_year['Vehicle Make'] == 'FORD')]

ford_make_year_count = (ford_make_year2["Model Year"].value_counts())
(ford_make_year_count.sort_index()).to_frame()

      Model Year
2008         145
2009         133
2010         111
2011         157
2012         135
2013         160
2014         115
2015          71
2016          45
2017          17

In [111]:
Peterbilt_make_year = test.loc[(test['Model Year'] >= 2008) & (test['Model Year'] < 9999)& (test['Recall Type'] == 'VEHICLE') ]

Peterbilt_make_year2 = Peterbilt_make_year.loc[(Peterbilt_make_year['Vehicle Make'] == 'PETERBILT')]

Peterbilt_make_year_count = (Peterbilt_make_year2["Model Year"].value_counts())
(Peterbilt_make_year_count.sort_index()).to_frame()

      Model Year
2008         173
2009         125
2010         102
2011         106
2012         112
2013         123
2014         123
2015         109
2016          73
2017          25

In [112]:
freightliner_make_year = test.loc[(test['Model Year'] >= 2008) & (test['Model Year'] < 9999)& (test['Recall Type'] == 'VEHICLE') ]

freightliner_make_year2 = freightliner_make_year.loc[(freightliner_make_year['Vehicle Make'] == 'FREIGHTLINER')]

freightliner_make_year_count = (freightliner_make_year2["Model Year"].value_counts())
(freightliner_make_year_count.sort_index()).to_frame()

      Model Year
2008         171
2009         114
2010         122
2011         116
2012          83
2013          72
2014          74
2015          75
2016          64
2017          22

In [113]:
toyota_make_year = test.loc[(test['Model Year'] >= 2008) & (test['Model Year'] < 9999)& (test['Recall Type'] == 'VEHICLE') ]

toyota_make_year2 = toyota_make_year.loc[(toyota_make_year['Vehicle Make'] == 'TOYOTA')]

toyota_make_year_count = (toyota_make_year2["Model Year"].value_counts())
(toyota_make_year_count.sort_index()).to_frame()

      Model Year
2008         130
2009         167
2010         175
2011         109
2012          79
2013          52
2014          44
2015          30
2016          26
2017           5

In [114]:
chevrolet_make_year = test.loc[(test['Model Year'] >= 2008) & (test['Model Year'] < 9999)& (test['Recall Type'] == 'VEHICLE') ]

chevrolet_make_year2 = chevrolet_make_year.loc[(chevrolet_make_year['Vehicle Make'] == 'CHEVROLET')]

chevrolet_make_year_count = (chevrolet_make_year2["Model Year"].value_counts())
(chevrolet_make_year_count.sort_index()).to_frame()

      Model Year
2008          79
2009          71
2010          50
2011          71
2012          61
2013          70
2014         111
2015         107
2016          74
2017          29